
        <body>
                <div class="login">
                        
        
                    <!-- Login -->
                    <div style="display: none;">
                            <span id="hora"></span>
                            <span id="minuto" ></span>
                            <span id="segundo" ></span>
                            <span id="amOpm" ></span>
                        </div>
                    <div class="login__block active" id="l-login">
                        <div class="login__block__header">
                            <i class="zwicon-user-circle"></i>
                           Ingresa tus datos
        
                            <div class="actions actions--inverse login__block__actions">
                                <div class="dropdown">
                                    <i data-toggle="dropdown" class="zwicon-more-h actions__item"></i>
        
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-register" >Crear una cuenta</a>
                                        <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-forget-password" >Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <form>

                            <div class="login__block__body" name="login">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="zwicon-user" ng-click="mostrarpassword()"></i> </span>
                                        <input  id="usuario" type="text" class="form-control text-center" value="" placeholder="Usuario" ng-model="username" style="text-align: left !important;">
                                    </div>
                <br>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="zwicon-password" ng-click="mostrarpassword()"></i> </span> 
                                        <input id="password" type="password" class="form-control text-center" value="" placeholder="Contraseña"  ng-model="password" style="text-align: left !important;">
                                    </div>
                                    <br>
                                    <button ng-click="mostrarusuarios(username , password)" value="Entrar" type="submit" class="btn btn-theme btn--icon"><i class="zwicon-checkmark"></i></button>
                                    
                                </div>
                    </form>
                        
                    </div>
        
                    <!-- Register -->
                    <div class="login__block" id="l-register">
                        <div class="login__block__header">
                            <i class="zwicon-user-circle"></i>
                           Crear cuenta
        
                            <div class="actions actions--inverse login__block__actions">
                                <div class="dropdown">
                                    <i data-toggle="dropdown" class="zwicon-more-h actions__item"></i>
        
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-login">Already have an account?</a>
                                        <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-forget-password">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <form action="">
        
                        <div class="login__block__body">
                            <div class="form-group">
                                <input type="text" class="form-control text-center" placeholder="Name"  ng-model="nombres">
                            </div>
        
                            <div class="form-group form-group--centered">
                                <input type="text" class="form-control text-center" placeholder="Email Address"    ng-model="username">
                            </div>
        
                            <div class="form-group form-group--centered">
                                <input type="password" class="form-control text-center" placeholder="Password"    ng-model="password">
                            </div>
        
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="radioDisabled" id="login-check" class="custom-control-input">
                                    <label class="custom-control-label" for="login-check">Aceptar terminos y condiciones.</label>
                                </div>
                            </div>
                            <a data-sa-action="login-switch" data-sa-target="#l-login" ng-click="insertarusuarios(username,password)" class="btn btn-theme btn--icon"><i class="zwicon-checkmark"></i></a>
                        </div>
                    </div>
        
                    </form>
                    
                    <!-- Forgot Password -->
                    <div class="login__block" id="l-forget-password">
                        <div class="login__block__header">
                            <i class="zwicon-user-circle"></i>
                            Forgot Password?
        
                            <div class="actions actions--inverse login__block__actions">
                                <div class="dropdown">
                                    <i data-toggle="dropdown" class="zwicon-more-h actions__item"></i>
        
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-login" >Already have an account?</a>
                                        <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-register" >Crear una cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="login__block__body">
                            <p class="mb-5">Lorem ipsum dolor fringilla enim feugiat commodo sed ac lacus.</p>
        
                            <div class="form-group">
                                <input type="text" class="form-control text-center" placeholder="Email Address">
                            </div>
        
                            <a href="index-2.html" class="btn btn-theme btn--icon"><i class="zwicon-checkmark"></i></a>
                        </div>
                    </div>
                </div>

               
                <script src="resources/js/app.min.js"></script>
                <script src="demo/js/demo.js"></script>
</body>

   