
    <section class="content">
  

                <div class="content__inner d-print-none">
                    <header class="content__title">
                            <h1>Usuarios con plan de mes finalizado</h1>

                            <div class="actions">
                                    <div id="Lafecha"></div>

        
                                   
                             </div>
                    </header>

                    
                        <div class="card">
                            <div class="card-body" style="overflow: auto;">

                                                    
                                        <input class="form-control" type="text" placeholder="Buscar Usuario" aria-label="Search" ng-model="buscarusuario">
                                          <br>
                                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input  ng-valid ng-dirty ng-touched ng-valid-parse  ng-not-empty" ng-click="traeractivos(activo)"  ng-model="activo" value="1">
                                                    <label class="custom-control-label"   for="customRadio1">Activos</label>
                                                </div>
                                                <div class="custom-control custom-radio mb-2" style=" margin-left: 15px;">
                                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" ng-click="traeractivos(activo)"  ng-model="activo" value="0">
                                                    <label class="custom-control-label"   for="customRadio2">No activos</label>
                                                </div>

                                    <table  class="table table-dark mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombres</th>
                                                <th>Sexo</th>
                                                <th>Fecha de ingreso</th>
                                                <th>Fecha de corte</th>
                                                <th>Plan</th>
                                                <th>Documento</th>
                                                <th>Celular</th>
                                                <th>Activo/No Activo</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="cursor: pointer;"  ng-repeat="usuario in usuarios | filter:buscarusuario:activo">
                                                <td ng-click="datousus(usuario)" >{{$index+1}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.nombres}} {{usuario.apellidos}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.sexo}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.fecha  | date:"dd/MM"}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.fecha_fin | date:"dd/MM"}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.plan}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.tipo_documento}} {{ usuario.numero_documento}}</td>
                                                <td ng-click="datousus(usuario)" >{{usuario.celular}}</td>
                                                <td >

                                                    <div class="col-sm-4 col-md-3">
                                                        <div class="form-group">
                                                            <div class="toggle-switch">
                                                                <input type="checkbox"  ng-click="Actualizactivo(usuario)"  class="toggle-switch__checkbox" ng-true-value="1" ng-false-value="0" ng-model="usuario.activo">
                                                                <i class="toggle-switch__helper"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                       
                                                        <button ng-click="Actualizarusuarios(usuario)" class=" btn btn-theme btn--icon" ><i  class="zwicon-edit-circle"></i></button>
                                                </td>
                                                <td>
                                                        <button class="btn btn-theme btn--icon" ng-click="Swal(usuario)" ><i class="zwicon-user-delete" ></i></button>
                                                        
                                                </td>
                                                
                                            </tr>
                                            
                                      
                                        </tbody>

                                    </table>
                                </div>

        </div>


<!--Print-->
        <div class="card d-none d-print-block">
            <div class="card-body">
             <table class="table table-bordered mb-0" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Sexo</th>
                        <th>Fecha</th>
                        <th>Celular</th>
                        <th>Username</th>
                        <th>Password</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in usuarios">
                     <td >{{$index+1}}</td>
                    <td >{{usuario.nombres}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.sexo}}</td>
                    <td>{{usuario.fecha}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>{{usuario.username}}</td>
                
                    
                </tr>
                  
                </tbody>
              </table>
          </div>
        </div>

       

    </section>



    <!--Edit-->
    

  
 
      

        

        <!-- App functions and actions -->
        
        <script src="resources/js/app.min.js"></script>